# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

__pycache__/
.vscode/

# img data
color_test/
OCR/dataset_fast/
OCR/training_data_fast/

# export data
OCR/export/*
!OCR/export/README.md

# log
OCR/log/*
!OCR/log/README.md

#cfg
OCR/cfg/*
!OCR/cfg/README.md