# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

__pycache__/
.vscode/

# img data
color_test/
dataset_fast/
training_data_fast/

# export data
export/

# log
log/